# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [self-hosted, linux]

  steps:
    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        pwd
        ls -l
        sleep 5

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        module load julia/1.4.2
        julia --version


    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        module load julia/1.4.2
        julia -e 'println("hello world")'
